{% load static %}
<!Doctype html>
<html>
{% load static %}
<img src="{% static '/images/codes.jpg' %}" alt="My image">
<head>

<header style="background-color: #303030;  height: 80px; width: 100%">  
      <h1 style="font-size: 30px; color: white;text-align: center; padding-top: 15px;">Your Welcome    My Clients</h1>       
   </header> 
   
<p style = "text-shadow:4px 4px 8px blue;">
       You might see me jumping, climbing buildings, and stopping trains. But nobody pays me a dime for that work. That's why I am learning and mastering web development. I will not stop until I become the Web Development Hero.
    </p>  
    <tt> Am A Django Newbie! And  I Have Learned The Following <\tt>
       <ul>  
        <li>html</li>  
        <li>css</li>  
        <li>js</li>  
        <li>boostrap</li>
    <style> 
    body {background-color: pink;}  
    h1 {color: red;}      
    p {color: blue;}  
    </style>  
    </html>  
    <input type="button" value="Honorable Greetings" onclick="alert('Hi, how are you today, are you fine 😊🤡 okay! click on ok and keep scrolling on my webpage👇✍️ ')">
    <!DOCTYPE html>  
    <html>
      <a href="https://www.facebook.com/profile.php?id=100086975356044/" class=""btn"">
      Hire Me
      </a>
    <body> 
     <html>  
            <head>  
            <style>  
            .headings{   
            color: pink;  
            font-family: cursive;  
            background-color: black; }  
            </style>  
            </head>  
            <body>  
            <h1 class="headings">vidiyam maga</h1>  
            <h2 class="headings">coding time..</h> 
            </body>  
            </html> 
             <blockquote cite="https://www.keepinspiring.me/famous-quotes/"><p>?The first step toward success is taken when you refuse to be a captive of the environment in which you first find yourself.?</p></blockquote>   
             <cite>-Mark Caine</cite>  
             <p>Steve Jobs said: <q>If You Are Working On Something That You Really Care About, You Don?t Have To Be Pushed. The Vision Pulls You.</q>?</p>  
    

<title>My page</title>
<link rel="stylesheet" href="{% static 'todo/main.css' %}" >
</head>
<body>
this is programmer vidiyam codings
</body>
</html>